.container{
    display:flex;
      flex-direction:row-reverse;
      height: 500px;
      width: 1000p;
      background-color:aqua;
      border:1px solid black;
      flex-wrap: wrap;
      justify-content:center;
      align-items:center;
        column-gap:10px;
}
.item{
height: 100px;
width: 100px;
background-color:brown;
border:1px solid black;
color: white ;
text-align:center;
/*

align-content:center;
flex-grow:1

}
.item2{
    order:-1;
    flex-grow:2;
    align-self:flex-end;

}



